/* start index */

/* Slider */
#heroSlider {
  h6 {
    &::before {
      content: " ";
      width: 40px;
      height: 4px;
      background-color: $blanco;
      display: inline-block;
      margin: 10px;
      vertical-align: middle;
    }
    &::after {
      content: " ";
      width: 40px;
      height: 4px;
      background-color: $blanco;
      display: inline-block;
      margin: 10px;
      vertical-align: middle;
    }
  }
  .carousel-inner {
    .slide-1 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/cover1.jpg);
    }
    .slide-2 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/cover2.jpg);
    } 
  }
  .carousel-control-prev {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
  }
  .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
  }
}

/* About */
.col-lg-5 {
  .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: $naranja;
  }
}

/* Menu */
#menu {
  padding-top: 20px;
  .container {
    .nav-pills {
      .nav-link {
        background-color: $blanco;
        margin-left: 8px;
        margin-right: 8px;
        color: $negro-claro;
        border-radius: 100px;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
      }
      .active {
        background-color: $naranja;
        color: $blanco;
      }
    }
    .menu-item-content {
      .stars {
        color: $naranja;
      }
    }
  }
}

/* Features */
#features {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/cover2.jpg);
    .feature {
      border: 2px solid rgba(255, 255, 255, 0.2);
      &-icon {
        width: 80px;
        height: 80px;
        background-color: $naranja;
        color: $blanco;
        font-size: 28px;
        display: inline-grid;
        align-content: center;
        text-align: center;
      }
    }
}

/* Team */
.gy-4 {
  place-content: center;
  .team-member {
    img {
      max-width: 140px;
      box-shadow: -10px -10px 0 $naranja;
      border-radius: 100px;
    } 
  }
}

/* Reviews */
#reviews {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/cover3.jpg);
    .carousel-indicators {
      margin-bottom: -3rem;
    }
    .review {
      img {
        width: 75px;
        height: 75px;
        object-fit: cover;
      }
      .quote-icon {
        font-size: 74px;
        color: $naranja;
        line-height: 1;
      }
      .stars {
        color: $naranja;
      }
    }
}

/* reservation */
#reservation {
  .form-control {
    border-radius: 0;
    &:focus {
      box-shadow: none;
      border-color: $naranja;
    }
  }
  .form-group {
    .form-control {
      height: 47px;
    }
  }
}

/* Insta Posts */
.insta-post {
  position: relative;
  overflow: hidden;
  .insta-btn {
    width: 90px;
    height: 90px;
    background-color: $blanco;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 26px;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  img {
    transition: all 0.4s;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
    .insta-btn {
      opacity: 1;
    }    
  }
}

/* Blog post */
.blog-post {
  img {
    width: 40%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .blog-post {
    flex-direction: column;
    img {
      width: 100%;
    }
  } 
}

/* end index */
