/* start menu */
.menu-css {
  font-size: 16px;
  line-height: 1.52;
  color: #717f86;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $fondo;
  #menu-list {
    padding-top: 30px;
    padding-bottom: 30px;
    .marb-35 {
      margin-bottom: 35px;
      .header-h {
        font-size: 35px;
        color: $naranja;
        font-weight: 300;
      }

      .header-p {
        color: #9699a6;
        font-size: 16px;
      }
    }
  }
  .menu-wrapper {
    .menu-restaurant {
      width: 50%;
      float: left;
      padding: 40px;
      position: relative;
      .clearfix {
        position: relative;
        display: block;
        .menu-title {
          float: left;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $naranja;
          &:hover {
            background-color: $naranja;
            color: $blanco;
          }
        }
        .menu-line {
          position: absolute;
          bottom: 6px;
          border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
          margin-left: 0.6rem;
          margin-right: 0.6rem;
        }
        .menu-price {
          font-weight: 600;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      .menu-subtitle {
        display: block;
        float: left;
        color: #b1b1b1;
        font-size: 1.2rem;
      }
    }
  }
  .section-padding {
    padding: 60px 0px;
  }
}

@media (max-width: 768px) {
  .menu-css {
    font-size: 11px;
    .menu-restaurant {
      width: 100%;
      .clearfix {
        display: block;
      }
    }
    .menu-subtitle {
      font-size: 11px !important;
    }
  }
}

@media (max-width: 991px) {
  .menu-restaurant {
    width: 100% !important;
    float: none !important;
    .clearfix {
      display: block;
    }
  }
}

/* end menu */
