/* start reservation */
.reservation-body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: $blanco;
  letter-spacing: 1px;
  background-color: $fondo;
  .reservation {
    background-color: #fafafa;
    max-width: 1000px;
    margin: 0px auto;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    &-time {
      background-color: rgba(0, 0, 0, 0.95);
      padding: 50px;
      outline: 3px dashed $naranja;
      outline-offset: -30px;
      text-align: center;
      &-heading {
        font-size: 35px;
        text-transform: uppercase;
        color: rgb(54, 54, 54);
      }
      &-heading-days {
        color: $naranja;
        font-size: 30px;
      }
      &-heading-phone {
        font-size: 20px;
        color: rgb(54, 54, 54);
      }
    }
    &-form {
      padding: 20px 0;
      margin: 0 auto;
      color: #000;
      &-grid {
        display: grid;
        grid-row-gap: 20px;
        .form-field {
          display: flex;
          justify-content: space-between;
          p {
            font-weight: 600;
          }
          &-input {
            pad: 10px 15px;
          }     
          &-select {
            pad: 10px 15px;
          } 
        }
        .reservation-btn {
          background-color: $naranja;
          color: $blanco;
          padding: 10px 20px;
          border: none;
          font-size: 18px;
          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          -o-border-radius: 100px;
          cursor: pointer;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          &:hover {
            transform: scale(1.03);
            -webkit-transform: scale(1.03);
            -moz-transform: scale(1.03);
            -ms-transform: scale(1.03);
            -o-transform: scale(1.03);
            box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
            background-color: #000;
            color: $blanco;
          }
        }
      }      
    }
  }
}

@media screen and (max-width: 767px) {
  .reservation {
    flex-direction: column;
    &-form {
      padding: 10px !important;
    }
    .reservation-time {
      &-heading-phone {
        font-size: 17px;
      }
    }
  }
}
/* end reservation */
